<%= form_for @consultant, :html => { :class => 'form-horizontal' } do |f| %>
 

  <% if current_user.inside? %>

  <div class="control-group">
    <%= f.label :name, "First Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_id, "Consultant's email", :class => 'control-label' %>
    <div class="controls">
    <%= select_tag('consultants[user_id.email][]', options_for_select(User.all.map {|x| [x.email, x.id] }), :multiple => true)  %>
    </div>
    </div>

  <div class="control-group">
    <%= f.label :phone_number, "Preferred Phone Number", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sec_phone, "Secondary Phone Number", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sec_phone, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :fax_number, "Fax Number", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fax_number, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address, "Address or location", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email_other, "Alternate Email", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email_other, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email_spi, "SPI Email", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email_spi, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :geo_expertise, "Geographical Expertise", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :geo_expertise, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :subject_expertise, "Subject Expertise", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject_expertise, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :spi_notes, "Internal SPI Notes", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :spi_notes, :class => 'text_area' %>
    </div>
  </div>  




<div class="control-group">
    <%= f.label :cost, "Cost Per Hour (or specify retainer)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_date, "Start Date", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :aff_dl, :class => 'control-label' %>
    <div class="controls">
    <%= select('consultant', :aff_dl, 
      [['Yes', 'Yes'], 
      ['No', 'No']]) %>
    </div>
  </div> 


<div class="control-group">
    <%= f.label :contract, :class => 'control-label' %>
    <div class="controls">
    <%= select('consultant', :contract, 
      [['Signed contract on file', 'Signed'], 
      ['No contract on file', 'Not signed']]) %>
    </div>
  </div> 


  <div class="control-group">
    <%= f.label :contacts_input, :class => 'control-label' %>
    <div class="controls">
    <%= select('consultant', :contacts_input, 
      [['Consultant has listed contacts', 'Contacts in'], 
      ['No contacts listed yet', 'Contacts not in']]) %>
    </div>
  </div> 

  <div class="control-group">
    <%= f.label :resume, "Year of resume on file", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :resume, :class => 'text_field', :label => "Resume year" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :admin_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :admin_notes, :class => 'text_area' %>
    </div>
  </div>

  
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                consultants_path, :class => 'btn' %>

  <% end %>


  


    
  


 

