<%- model_class = @consultant.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <% if @consultant.name.present? %> 
    <dd><%= @consultant.name %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <% if @consultant.last_name.present? %> 
    <dd><%= @consultant.last_name %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <% if @consultant.phone_number.present? %> 
    <dd><%= @consultant.phone_number %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <% if @consultant.address.present? %> 
    <dd><%= @consultant.address %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:sec_phone) %>:</strong></dt>
  <% if @consultant.sec_phone.present? %> 
    <dd><%= @consultant.sec_phone %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:email_other) %>:</strong></dt>
  <% if @consultant.email_other.present? %> 
    <dd><%= @consultant.email_other %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:email_spi) %>:</strong></dt>
  <% if @consultant.email_spi.present? %> 
    <dd><%= @consultant.email_spi %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>
  
  <dt><strong><%= model_class.human_attribute_name(:fax_number) %>:</strong></dt>
  <% if @consultant.fax_number.present? %> 
    <dd><%= @consultant.fax_number %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:geo_expertise) %>:</strong></dt>
  <% if @consultant.geo_expertise.present? %> 
    <dd><%= @consultant.geo_expertise %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:subject_expertise) %>:</strong></dt>
  <% if @consultant.subject_expertise.present? %> 
    <dd><%= @consultant.subject_expertise %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <% if current_user.inside? %>

    <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <% if @consultant.cost.present? %> 
    <dd><%= @consultant.cost %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:spi_notes) %>:</strong></dt>
  <% if @consultant.spi_notes.present? %> 
    <dd><%= @consultant.spi_notes %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

  <% if current_user.manager? %>

  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <% if @consultant.start_date.present? %> 
    <dd><%= @consultant.address %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:aff_dl) %>:</strong></dt>
  <% if @consultant.aff_dl.present? %> 
    <dd><%= @consultant.aff_dl %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:contract) %>:</strong></dt>
  <% if @consultant.contract.present? %> 
    <dd><%= @consultant.contract %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

    <dt><strong><%= model_class.human_attribute_name(:contacts_input) %>:</strong></dt>
  <% if @consultant.contacts_input.present? %> 
    <dd><%= @consultant.contacts_input %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

  <dt><strong><%= model_class.human_attribute_name(:resume) %>:</strong></dt>
  <% if @consultant.resume.present? %> 
    <dd><%= @consultant.resume %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>

  <dt><strong><%= model_class.human_attribute_name(:admin_notes) %>:</strong></dt>
  <% if @consultant.admin_notes.present? %> 
    <dd><%= @consultant.admin_notes %></dd>
    <% else %>
    <dd><%= "--" %></dd>
    <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              consultants_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consultant_path(@consultant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              consultant_path(@consultant),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{@consultant.name}'s record?")),
              :class => 'btn btn-danger' %>
</div>


<% else %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              consultants_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consultant_path(@consultant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              consultant_path(@consultant),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{@consultant.name}'s record?")),
              :class => 'btn btn-danger' %>
</div>

<% end %>

<% else %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              consultants_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consultant_path(@consultant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              consultant_path(@consultant),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{@consultant.name}'s record?")),
              :class => 'btn btn-danger' %>
</div>

<% end %>

<% if current_user.inside? %>
    
  <div class="page-header">
  <h3><%= "#{@consultant.name}'s Contacts" %></h3>
</div>

  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_contact_path,
            :class => 'btn btn-primary' %>
  
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:entity_type) %></th>
      <th><%= model_class.human_attribute_name(:agency) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th><%= model_class.human_attribute_name(:spi_notes) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% consultant_contact = Consultant.where(:id => params[:id]).first.contacts %>
    <% consultant_contact.each do |contact| %>
    <tr>
        <td><%= link_to contact.id, contact_path(contact) %></td>
        <td><%= contact.entity_type || "--" %></td>
        <td><%= contact.agency || "--" %></td>
        <td><%= contact.city || "--" %></td>
        <td><%= contact.level || "--" %></td>
        <td><%= contact.sp_notes || "--" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contact_path(contact), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      contact_path(contact),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{@consultant.name}'s contact at the #{contact.agency}?")),
                      :class => 'btn btn-mini btn-danger' %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<% end %>
 



