<h3> Search for a Contact </h3>


<div class="control-group">
  <%= form_tag contacts_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search contacts", :name => nil, 
    		:class => 'btn btn-primary' %>
        <% end %>
  </p>
</div>

<div class="control-group">
  <%= form_tag consultants_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search consultants", :name => nil, 
        :class => 'btn btn-primary' %>
        <% end %>
  </p>
</div>


<div class="control-group">
<h4> Add a new contact </h4>
<%= link_to t('contact.new', :default => t("helpers.links.add_a_new_contact")),
            new_contact_path,
            :class => 'btn btn-primary' %>

</div>

<% if current_user.manager? %>

<div class="control-group">

<h4> Add a new consultant </h4>
<%= link_to t('consultant.new', :default => t("helpers.links.add_a_new_consultant")),
            new_consultant_path,
            :class => 'btn btn-primary' %>
</div>

<% else %>
<% end %>