<h3> Search for a Contact </h3>

<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>

<div class="control-group">
<h4> Add a new contact </h4>
<%= link_to t('contact.new', :default => t("helpers.links.add_a_new_contact")),
            new_contact_path,
            :class => 'btn btn-primary' %>

</div>

<div class="control-group">

<h4> Add a new consultant </h4>
<%= link_to t('consultant.new', :default => t("helpers.links.add_a_new_consultant")),
            new_consultant_path,
            :class => 'btn btn-primary' %>
</div>

<% end %>