<%= form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
  

    <% if current_user.inside? %>
  
    <div class="control-group">
    <%= f.label :consultant, :class => 'control-label' %>
    <div class="controls">
    <%= select_tag('contact[consultant_ids][]', options_for_select(Consultant.all.map {|x| [x.name, x.id] }), :multiple => true)  %>
    </div>
    </div>

    <% else %>

    <div class="control-group">
    <%= f.label :consultant, :class => 'control-label' %>
    <div class="controls">
      <%# @outside_consultant = User.find(current_user.id).consultant %>
      <%# select('contact', :consultants, [[@outside_consultant.name, :consultant_ids]]) %>
    
      <%= select_tag('contact[consultant_ids][]', options_for_select([[current_user.consultant.name, current_user.consultant.id]])) %>
    </div>
    </div>

    <% end %>

    <div class="control-group">
    <%= f.label :entity_type, :class => 'control-label' %>
    <div class="controls">
    <%= select('contact', :entity_type, 
      [['K-12', "K-12"], 
      ['Higher ed', 'Higher ed'],
      ['City/town', "City/town"],
      ['County/parish', 'County/parish'], 
      ['Special district', 'Special district'], 
      ['State agency', 'State agency'], 
      ['Federal agency', 'Federal agency'],  
      ['Association', 'Association']]) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :agency, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :agency, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>

<!--   <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :level, :class => 'text_field' %>
    </div>
  </div> -->

  <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
    <%= select('contact', :level, [['Entity leadership', "Entity leadership"], ['Department Leadership', 'Department Leadership'], ['Intelligence source', "Intelligence source"]]) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sp_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :sp_notes, :class => 'text_area' %>
    </div>
  </div>

    
<br>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contacts_path, :class => 'btn' %>
  </div>
<% end %>























