<!DOCTYPE html>
<html>
<head>
  <title>SPI Contacts </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>
  <div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %>.
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
</div>
</head>
<body>
<%= link_to "home", home_index_path %>  |  
<%= link_to "contacts", contacts_path %>  |  
<%= link_to "consultants", consultants_path %>

<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>


<%= yield %>

</body>
</html>
